.comentBox{
    max-width: 45.625rem;
    width: 100%;
    height: 9.375rem;
    margin: 2.5rem;
    display: flex;
    flex-direction: row;
    gap:20px
}
.comentImage{
    width: 4.375rem ;
    height:  4.375rem;
    border-radius: 120px;
    border: none;
   
}
.comentInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 41.25rem;
    width: 100%;
    min-height: 7.5rem;
    background-color: #1c1c2f;
    border:none;
    border-radius:8px;
}

.comentInfo>header{
    display: flex;
    flex-direction: row; 
    gap: 33.125rem; 
}
.comentInfo>header>div{
    display: flex;
    flex-direction: column;  
    max-width: 6.8125rem;
    justify-content: center;
    gap: 10px;
    margin-top: 1.0rem;
}
.comentInfo>header>div>h2{
   
    
    font-family:'Inter',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    color: #CCCCCC;
    margin-left: 1.0rem;
    
}
.comentInfo>header>div>p{
    width: 5.3rem;

    margin-left: 1.0rem;
   
    font-family:'Inter',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    color: #999999;
}
.coment{
   
    font-family:'Inter',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    color: #ffffff;
    margin-top: 1.0rem;
    margin-left: 1.0rem;
}
.right{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 41.25rem;
    width: 100%;
    min-height: 7.5rem;
}
.delete{
    width: 1.5rem;
    height: 1.5rem;
    background:none;
    border:none;
    cursor:pointer;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    padding: 0;

}
.delete:active{
    transform: scale(0.5,0.5);
    transition: 0.55s;
}
.like{
    display: flex;
    flex-direction: row;
    width: 6.5rem;
    height: 3.5rem;
    background:none;
    border:none;
    cursor:pointer;
    margin-left: .625rem;
    margin-top: .5rem;
    padding: 0;
    font-family:'Inter',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    gap: 15px;
    align-items: center;
    color: #999999;
}
.like:active{
    color:#004B96;
    transform: scale(0.5,0.5);
    transition: 0.55s;
}
.liked{
    display: flex;
    flex-direction: row;
    color:  #004B96;
    width: 6.5rem;
    height: 3.5rem;
    background:none;
    border:none;
    margin-left: .625rem;
    margin-top: .5rem;
    padding: 0;
    font-family:'Inter',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    gap: 15px;
    align-items: center;
    text-decoration-style: dotted;
}