.pub{
    max-width: 57.5625rem;
    width: 100%;
    min-height: 41rem;
    background-color:  #0e0e1b;
    padding-top: 1.0rem;
    border:none;
    border-radius: .5rem;
    margin-bottom: 1.875rem;
}

.profilePostInfo{
    display:flex;
    flex-direction: row;
    max-width: 52.625rem;
    width: 100%;
    height: 4.5rem;
    margin-top: 2.0rem ;
    margin-left: 2.5em;
    gap: 345px;
    align-items: center;

}
.profileImage{
    max-width: 4.5625rem;
    width: 100%;
    height:  4.5625rem;
    border: .3125rem solid #004B96;
    border-radius: 7.5rem;
}
.profileData{
    display: flex;
    flex-direction: row;
    max-width: 17.625rem;
    width: 100%;
    gap:1.25rem;
    align-items: center;
}
.profileDataText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.profileDataText>h3{
    max-width: 12.75rem;
    width: 100%;
    height: 1.625rem;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    font-family:'Inter',sans-serif;
    text-align: left;
    color: #ffff
}
.profileDataText>p{
    max-width: 7.1875rem;
    width: 100%;
    height: 1.875rem;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    font-family:'Inter',sans-serif;
    text-align: left;
    color:#999999
}

.postTime{
    max-width: 8.4375rem;
    width:100%;
    height: 1.1875rem;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    font-family:'Inter',sans-serif;
    text-align: center;
    color: #ffff;
}

.postText{
    max-width: 45.625rem;
    width: 100%;
    height: 9.8125rem;
    margin-top: 3rem;
    margin-left: 2.5rem;
    font-family:'Inter',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #CCCCCC;
}

.feedback{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    align-items: flex-start
}



.feedback>h2{
    max-width: 10.6875rem;
    height: 1.125rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-family:'Inter',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    color: #CCCCCC;
}

.feedback>textarea{
    max-width: 45.625rem;
    width: 100%;
    height: 7rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    border-radius: .5rem;
    border: 3px solid transparent;
    padding: .625rem;
    font-family:'Inter',sans-serif;
    font-size: 16px;
    resize: none;

}
.feedback>textarea:focus{
    max-width: 46.875rem;
    width: 100%;
    height: 7rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    border-radius: .5rem;
    border: 3px solid #004B96;
    outline: none;
}
.feedback>button{
    max-width: 8.6875rem;
    width: 100%;
    height: 2.9937rem;
    margin-left: 2.5rem;
    border-radius: .5rem;
    background-color: #004B96;
    border:none;
    font-family:'Inter',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    color: #CCCCCC;
    cursor:pointer;
}
.feedback>button:focus{
    max-width: 8.6875rem;
    width: 100%;
    height: 2.9937rem;
    margin-left: 2.5rem;
    border-radius: .5rem;
    background-color: #004B96;
    border:none;
    font-family:'Inter',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    color: #CCCCCC;
    cursor:pointer;
    outline: none;
}

